<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Thymeleaf</title>
</head>
<body>
    <p>Hello <span th:text="${name}">name-goes-hear</span> from a Thymeleaf page</p>
</body>
</html>